div[role='region'] table {
  width: max-content;
  min-width: 100%;
}

.mat-column-select {
  overflow: initial;
  text-align: center;
  width: 4rem;
}

.mat-column-version,
.mat-column-source,
.mat-column-tables,
.mat-column-rows,
.mat-column-imported,
.mat-column-status,
.mat-column-actions {
  white-space: nowrap;
}

.mat-column-tables,
.mat-column-rows {
  text-align: end;
}

.mat-column-tables .mat-sort-header-container,
.mat-column-rows .mat-sort-header-container {
  justify-content: flex-end;
}
